html, body {
    font-family: Geneva, Verdana, Tahoma, sans-serif;
    margin: 0px;
    background-color: #ebd6b6;
    color: #424C55;
    overflow-x: hidden;
}

/* NavBar */
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navBar {
    position: fixed;
    top:0;
    width: 80vw;
    background-color: #DB5A42;
    opacity: 0.8;
    list-style-type: none;
    padding: 0;
    border-radius: 15px;
    z-index: 2;
}

.navMenu {
    display: none; 
}

.navLogo {
    float: left;
    margin-left: 50px;
}

.navItem {
    float: right;
    margin-right: 50px;
}

.navItem a {
    display: flex;
    color: #F5EDF0;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

.navLogo a {
    font-family: 'Satisfy', cursive !important;
    display: block;
    color: #F5EDF0;
    padding: 18px;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

.navIcon {
    z-index: 99;
    display: none;
    color: #DB5A42;
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    cursor: pointer;
}

/* navHover */
.navItem:hover, .navLogo:hover, .navIcon:hover {
    transition: 0.85s;
    background-color: rgba(0, 0, 0, 0.17);
    border-radius: 10px;
}

/* Keyframes for animations */
@keyframes  scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-28vw * 21));
	}
}

@keyframes  reversescroll {
	from {
		transform: translateX(calc(-28vw * 21));
	}
	to {
		transform: translateX(0);
	}
}

/* Headline */
.headline-bg {
    background-color: rgb(66, 66, 66);
}

.headline-bg h1{
    font-family: 'Satisfy', cursive !important;
    color: #F5EDF0;
    position: absolute; 
    top: 20%;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 8vw;
}

.headline-bg h3 {
    color: #F5EDF0;
    position: absolute; 
    top: 48%;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 3vw;
}

.topcontainer, .bottomcontainer {
    display: contents;
    height: 55vh;
    background-color: #d3bf9e;    
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.topcontainer:after, .bottomcontainer:after {
	transform: rotateZ(180deg);
}

.topcontainer img, .bottomcontainer img {
    height: 30vw;
    width: 30vw;
    opacity: 0.3;
  }

.topcontainer:before, .topcontainer:after, .bottomcontainer:before, .bottomcontainer:after {
	content: "";
	position: absolute;
	height: 130px;
	width: 150px;
	z-index: 0;
}

.topcontainer .toptrack{
    animation: scroll 180s 0.5s linear infinite;
    font-size: 0;
}

.bottomcontainer .bottomtrack{
    animation: reversescroll 180s 0.5s linear infinite;
    font-size: 0;
}

/* Announcement(Sale) */
.announcement-bg {
    display: flex;
    flex-direction: column;
    height:40vh;
    align-items: center;
    justify-content: center;
}

.announcement-bg h1 {
    color: #DB5A42;
    font-size: 3.5vw;
}

.announcement-bg h3 {
    color: #DB5A42;
}

/* Featured Products */
.featured-bg {
    display: flex;
    align-items: center;
    height: 28vw;
    background-color: #ebd6b6;    
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.featuretitle {
    margin-left: 2vw;
    font-size: 2vw;
}

.featured-bg:before, .featured-bg:after {
	content: "";
	position: absolute;
	height: 130px;
	width: 150px;
}

.featured-bg:after {
	transform: rotateZ(180deg);
}

.featured-bg .featuredtrack{
    animation: scroll 150s 0.5s linear infinite;
}

.featuredtrack img:hover {
    background-color: #DB5A42;
}

.featured-bg img {
    height: 24vw;
    width: 24vw;
    padding: 5px;
  }

/* Product List Page */
/* Title */
.productlisttitlebg {
    display: flex;
    background-color: #ebd6b6;
    height: 30vw;
    align-items: end;
    justify-content: left;
}

.productlisttitle {
    margin-left: 3vw;
    margin-bottom: 3vh;
    font-size: 5vw;
}

/* Filters */
.filtersbg {
    display: flex;
    background-color: #424C55;
    height: 7vh;
    justify-content: right;
    align-items: center;
}

.filters {
    display: flex;
    font-size: 20px;
    margin-right: 3vw;
    padding: 12px;
}
.filters a {
    text-decoration: none;
    color: #F5EDF0;
}
.filters:hover{
    background-color: rgba(189, 195, 199, 0.15);
    border-radius: 10px;
}

.box {
    position: relative;
    cursor: pointer;
}

.box:hover .clothing-title {
    transform: scale(1);
}
  
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
  
.gallery img {
    width: 350px;
    display: block;
    flex-basis: 20%;
    padding: 10px;
    box-sizing: border-box;
}

.clothing-title {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clothing-title span {
    margin: 10px;
}

/* Contact Us Page */
/* Contact */
.contactbox {
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

/* Left Flexbox(text) */
.contacttext {
    margin-left: 5vw;
    width: 50%;
}

.contactbox h1 {
    font-size: 4vw;
}

.contactbox h2 {
    font-size: 1.5vw;
}

/* Right Flexbox(form) */
.form {
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 5px;
  }

/* Placeholder Text Color */
::placeholder {
    color: #F5EDF0;
    opacity: 1; /* Firefox Browser Support */
  }

/* Form Label Color */
form label{
    color: #424C55;
}

/* Text Form Inputs*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    background-color: #DB5A42;
    border: 1px solid #D1CCDC;
    color: #F5EDF0;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

/* Submit Button */
input[type=submit] {
    width: 100%;
    background-color: #DB5A42;
    color: #F5EDF0;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #DB5A42;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
input[type=submit]:hover {
    box-shadow: inset 350px 0 0 0 #57805f;
  }

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vw;
    background-color: #424C55;
}

.footerelements {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footerelements a {
    font-size: 1.2vw;
    font-family: Geneva, Verdana, Tahoma, sans-serif;
    color: #F5EDF0;
    text-decoration: none;
    padding: 15px;
}

.footerelements .logo {
    font-family: 'Satisfy', cursive !important;
}

.copyright {
    color: #F5EDF0;
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track bg */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #DB5A42;
  }
::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    background: #ac2c16;
  }

.showNavMenu {
    transform: translateY(0) !important;
    display: block;
}

/* Media Queries */
@media screen and (max-width: 920px) {
    .navMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        list-style: none;   
        position: fixed;
        width: 100%;
        height: 45vh;
        background-color: #DB5A42;
        list-style-type: none;
        padding: 0;
        border-radius: 0px;
        z-index: 98;
    }
    .navIcon {display: block;}
    .navItem a{font-size: 4vw;}
    .navBar {display: none;}

    .contacttext {
        margin-left: 0;
        width: 80%;
    }
    
    .contactbox h1 {
        font-size: 8vw;
    }
    
    .contactbox h2 {
        font-size: 4vw;
    }
    .contactbox {
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    .form {
        width: 80%;
        padding: 5vw;}

    .headline-bg h1{top: 30vw;}
    .headline-bg h3{top: 45vw;}

    .announcement-bg {
        height:30h;
        display: flex;
        text-align: center;
    }
    .announcement-bg h1 {font-size: 10vw;}
    .announcement-bg h3 {display: none;}
    .featured-bg {
        height: 45vw;
    }
    .featured-bg img {
        height: 38vw;
        width: 38vw;
    }
    .featuretitle {
        margin-left: 0;
        text-align: center;
        font-size: 8vw;
    }
    .filtersbg {
        justify-content: center;
        margin-right: 0;
    }
    .productlisttitle {
        margin: auto;
        font-size: 8vw;
    }
    .productlisttitlebg {
        height: 50vw;
    }
    .topcontainer img, .bottomcontainer img {
        height: 45vw;
        width: 45vw;
      }
    
    footer {
        height: 58vw;
    }
    .footerelements {
        flex-direction: column;
    }
    .footerelements a{
        font-size: 2.7vw;
    }
  }