html, body {
    font-family: Geneva, Verdana, Tahoma, sans-serif;
    margin: 0px;
    background-color: #ebd6b6;
    color: #424C55;
    overflow-x: hidden;
}

/* NavBar */
nav {
    display: flex;
    justify-content: center;
}

.navBar {
    position: fixed;
    top:0;
    width: 80vw;
    background-color: #DB5A42;
    opacity: 0.8;
    list-style-type: none;
    padding: 0;
    border-radius: 15px;
    z-index: 2;
}

.navLogo {
    float: left;
    margin-left: 50px;
}

.navItem {
    float: right;
    margin-right: 50px;
}

.navItem a {
    display: flex;
    color: #F5EDF0;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

.navLogo a {
    font-family: 'Satisfy', cursive !important;
    display: block;
    color: #F5EDF0;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

.navBar .navIcon {
    position: absolute;
    display: none;
    right: 0;
    margin-right: 30px;
    color: #F5EDF0;
    padding: 15px;
}

/* navHover */
.navItem:hover, .navLogo:hover, .navIcon:hover {
    transition: 0.85s;
    background-color: rgba(0, 0, 0, 0.17);
    border-radius: 10px;
}

/* Keyframes for animations */
@keyframes  scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-28vw * 21));
	}
}

@keyframes  reversescroll {
	from {
		transform: translateX(calc(-28vw * 21));
	}
	to {
		transform: translateX(0);
	}
}

/* Headline */
.headline-bg {
    background-color: rgb(66, 66, 66)
}

.headline-bg h1{
    font-family: 'Satisfy', cursive !important;
    color: #F5EDF0;
    position: absolute; 
    top: 12vw;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 8vw;
}

.headline-bg h3 {
    color: #F5EDF0;
    position: absolute; 
    top: 29vw;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 3vw;
}

.topcontainer, .bottomcontainer {
    display: contents;
    height: 55vh;
    background-color: #d3bf9e;    
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.topcontainer:after, .bottomcontainer:after {
	transform: rotateZ(180deg);
}

.topcontainer img, .bottomcontainer img {
    height: 30vw;
    width: 30vw;
    opacity: 0.3;
  }

.topcontainer:before, .topcontainer:after, .bottomcontainer:before, .bottomcontainer:after {
	content: "";
	position: absolute;
	height: 130px;
	width: 150px;
	z-index: 0;
}

.topcontainer .toptrack{
    animation: scroll 180s 0.5s linear infinite;
    font-size: 0;
}

.bottomcontainer .bottomtrack{
    animation: reversescroll 180s 0.5s linear infinite;
    font-size: 0;
}

/* Announcement(Sale) */
.announcement-bg {
    display: flex;
    flex-direction: column;
    height:40vh;
    align-items: center;
    justify-content: center;
}

.announcement-bg h1 {
    font-size: 4vw;
}

/* Featured Products */
.featured-bg {
    display: flex;
    align-items: center;
    height: 28vw;
    background-color: #ebd6b6;    
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.featuretitle, .arrivaltitle {
    margin-left: 2vw;
    font-size: 2vw;
}

.featured-bg:before, .featured-bg:after {
	content: "";
	position: absolute;
	height: 130px;
	width: 150px;
}

.featured-bg:after {
	transform: rotateZ(180deg);
}

.featured-bg .featuredtrack{
    animation: scroll 150s 0.5s linear infinite;
}

.featured-bg img {
    height: 24vw;
    width: 24vw;
    padding: 5px;
  }

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vw;
    background-color: #424C55;
}

.footerelements {
    display: flex;
    justify-content: center;
}

.footerelements a {
    font-size: 1.2vw;
    font-family: Geneva, Verdana, Tahoma, sans-serif;
    color: #F5EDF0;
    text-decoration: none;
    padding: 15px;
}

.footerelements .logo {
    font-family: 'Satisfy', cursive !important;
}

.copyright {
    color: #F5EDF0;
}

/* Contact Us Page */
/* Contact */
.contactbox {
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

/* Left Flexbox(text) */
.contacttext {
    margin-left: 5vw;
    width: 50%;
}

.contactbox h1 {
    font-size: 4vw;
}

.contactbox h2 {
    font-size: 1.5vw;
}

/* Right Flexbox(form) */
.form {
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 5px;
  }

/* Placeholder Text Color */
::placeholder {
    color: #F5EDF0;
    opacity: 1; /* Firefox Browser Support */
  }

/* Form Label Color */
form label{
    color: #424C55;
}

/* Text Form Inputs*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    background-color: #DB5A42;
    border: 1px solid #D1CCDC;
    color: #F5EDF0;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

/* Submit Button */
input[type=submit] {
    width: 100%;
    background-color: #DB5A42;
    color: #F5EDF0;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #DB5A42;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
input[type=submit]:hover {
    box-shadow: inset 350px 0 0 0 #57805f;
  }

/* Product List Page */
/* Title */
.productlisttitlebg {
    display: flex;
    background-color: #F5EDF0;
    height: 30vw;
    align-items: end;
    justify-content: left;
}

.productlistbg img {
    z-index: 0;
    height: 30vw;
    position: contents;
    width: 100%;
    height: 30vw;
}

.productlisttitle {
    position: absolute;
    margin-left: 3vw;
    margin-bottom: 3vh;
    font-size: 5vw;
}

/* Filters */
.filtersbg {
    display: flex;
    background-color: #424C55;
    height: 7vh;
    justify-content: right;
    align-items: center;
}

.filters {
    display: flex;
    font-size: 20px;
    margin-right: 3vw;
    padding: 12px;
}
.filters a {
    text-decoration: none;
    color: #F5EDF0;
}
.filters:hover{
    background-color: rgba(189, 195, 199, 0.15);
    border-radius: 10px;
}

.row {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
.column {
    flex: 20%;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    height: 410px;
    width: 410px;
    padding: 10px
}

.clothing-title {
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: bolder;
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track bg */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #DB5A42;
  }
::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    background: #ac2c16;
  }

/* Media Queries */
@media screen and (max-width: 920px) {
    .navLogo a {font-size: 20px;}
    .navItem a {display: none;}
    .navBar a.navIcon {
        display: block;
      }
    .announcement-bg {
        height:20vh;
    }
    .announcement-bg h3 {display: none;}
    .featured-bg {
        height: 45vw;
    }
    .featured-bg img {
        height: 38vw;
        width: 38vw;
    }
    .filtersbg {
        justify-content: center;
        margin-right: 0;
    }
    .productlisttitle {
        margin: auto;
        font-size: 8vw;
    }
    .productlisttitlebg {
        height: 50vw;
    }
  }