html, body {
    font-family: Geneva, Verdana, Tahoma, sans-serif;
    margin: 0px;
    background-color: #F7F7F7;
    color: #393E46;
}

nav {
    display: flex;
    justify-content: center;
}


.navBar {
    position: fixed;
    top:0;
    width: 80vw;
    background-color: #616161;
    color: #F7F7F7;
    opacity: 0.8;
    list-style-type: none;
    padding: 0;
    border-radius: 15px;
}

.navLogo {
    float: left;
    margin-left: 50px;
}

.navItem {
    float: right;
    margin-right: 50px;
}

.navItem a {
    display: flex;
    color: white;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

.navLogo a {
    font-family: 'Satisfy', cursive !important;
    display: block;
    color: white;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

.navBar .navIcon {
    position: absolute;
    display: none;
    right: 0;
    margin-right: 30px;
    color: white;
    padding: 15px;
  }

.landingheadline-bg {
    display: flex;
    background-color: #d1d0d0;
    height:105vh;
}

@media screen and (max-width: 850px) {
    .navItem a {display: none;}
    .navBar a.navIcon {
      display: block;
    }
  }