html, body {
    font-family: Geneva, Verdana, Tahoma, sans-serif;
    margin: 0px;
    background-color: #ebd6b6;
    color: #424C55;
    overflow-x: hidden;
}

/* NavBar */
nav {
    display: flex;
    justify-content: center;
}


.navBar {
    position: fixed;
    top:0;
    width: 80vw;
    background-color: #DB5A42;
    opacity: 0.8;
    list-style-type: none;
    padding: 0;
    border-radius: 15px;
}

.navLogo {
    float: left;
    margin-left: 50px;
}

.navItem {
    float: right;
    margin-right: 50px;
}

.navItem a {
    display: flex;
    color: #F5EDF0;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

.navLogo a {
    font-family: 'Satisfy', cursive !important;
    display: block;
    color: #F5EDF0;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

.navBar .navIcon {
    position: absolute;
    display: none;
    right: 0;
    margin-right: 30px;
    color: #F5EDF0;
    padding: 15px;
  }

/* navHover */
.navItem:hover, .navLogo:hover, .navIcon:hover {
  transition: 0.85s;
  background-color: rgba(0, 0, 0, 0.17);
  border-radius: 10px;
}
  
/* Contact */
.contactbox {
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

/* Left Flexbox(text) */
.contacttext {
    margin-left: 5vw;
    width: 50%;
}

.contactbox h1 {
    font-size: 4vw;
}

.contactbox h2 {
    font-size: 1.5vw;
}

/* Right Flexbox(form) */
.form {
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 5px;
  }

/* Placeholder Text Color */
::placeholder {
    color: #F5EDF0;
    opacity: 1; /* Firefox Browser Support */
  }

/* Form Label Color */
form label{
    color: #424C55;
}

/* Text Form Inputs*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    background-color: #DB5A42;
    border: 1px solid #D1CCDC;
    color: #F5EDF0;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

/* Submit Button */
input[type=submit] {
    width: 100%;
    background-color: #DB5A42;
    color: #F5EDF0;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #DB5A42;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
input[type=submit]:hover {
    box-shadow: inset 350px 0 0 0 #57805f;
  }

/* ScrollBar */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track bg */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #DB5A42;
  }
::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    background: #ac2c16;
  }

/* Media Queries */
@media screen and (max-width: 920px) {
    .navLogo a {font-size: 20px;}
    .navItem a {display: none;}
    .navBar a.navIcon {
      display: block;
    }
  }