html, body {
    font-family: Geneva, Verdana, Tahoma, sans-serif;
    margin: 0px;
    background-color: #F7F7F7;
    color: #393E46;
}

nav {
    display: flex;
    justify-content: center;
}


.navBar {
    position: fixed;
    top:0;
    width: 80vw;
    background-color: #616161;
    color: #F7F7F7;
    opacity: 0.8;
    list-style-type: none;
    padding: 0;
    border-radius: 15px;
}

.navLogo {
    float: left;
    margin-left: 50px;
}

.navItem {
    float: right;
    margin-right: 50px;
}

.navItem a {
    display: flex;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

.navLogo a {
    font-family: 'Satisfy', cursive !important;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-weight: bold;
}

.navBar .navIcon {
    position: absolute;
    display: none;
    right: 0;
    margin-right: 30px;
    color: white;
    padding: 15px;
  }

.landingheadline-bg {
    display: flex;
    background-color: #d1d0d0;
    height:105vh;
}

.announcement-bg {
    display: flex;
    flex-direction: column;
    height:33vh;
    align-items: center;
    justify-content: center;
}

.announcement-bg h1 {
    font-size: 4vw;
}

.featured-bg {
    display: flex;
    align-items: center;
    height: 45vh;
    background-color: #d1d0d0;    
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.featured-bg img {
    height: 410px;
    width: 410px;
    padding: 10px
  }

@media screen and (max-width: 800px) {
    .navItem a {display: none;}
    .navBar a.navIcon {
        display: block;
      }
    .announcement-bg {
        height:20vh;
    }
    .announcement-bg h3 {display: none;}
    .featured-bg {
        display: flex;
        align-items: center;
        height: 23vh;
        background-color: #d1d0d0;    
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .featured-bg img {
        height: 200px;
        width: 200px;
        padding: 10px
      }
  }