html, body {
    font-family: Geneva, Verdana, Tahoma, sans-serif;
    margin: 0px;
    background-color: #ebd6b6;
    color: #424C55;
    overflow-x: hidden;
}

/* NavBar */
nav {
    display: flex;
    justify-content: center;
}

.navBar {
    position: fixed;
    top:0;
    width: 80vw;
    background-color: #DB5A42;
    opacity: 0.8;
    list-style-type: none;
    padding: 0;
    border-radius: 15px;
    z-index: 2;
}

.navLogo {
    float: left;
    margin-left: 50px;
}

.navItem {
    float: right;
    margin-right: 50px;
}

.navItem a {
    display: flex;
    color: #F5EDF0;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

.navLogo a {
    font-family: 'Satisfy', cursive !important;
    display: block;
    color: #F5EDF0;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

.navBar .navIcon {
    position: absolute;
    display: none;
    right: 0;
    margin-right: 30px;
    color: #F5EDF0;
    padding: 15px;
}

/* navHover */
.navItem:hover, .navLogo:hover, .navIcon:hover {
    transition: 0.85s;
    background-color: rgba(0, 0, 0, 0.17);
    border-radius: 10px;
}

/* Keyframes for animations */
@keyframes  scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-28vw * 21));
	}
}

@keyframes  reversescroll {
	from {
		transform: translateX(calc(-28vw * 21));
	}
	to {
		transform: translateX(0);
	}
}

/* Headline */
.headline-bg {
    background-color: rgb(66, 66, 66)
}

.headline-bg h1{
    color: #F5EDF0;
    position: absolute; 
    top: 10vw;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 8vw;
}

.headline-bg h3 {
    color: #F5EDF0;
    position: absolute; 
    top: 27vw;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 3vw;
}

.topcontainer, .bottomcontainer {
    display: contents;
    height: 55vh;
    background-color: #d3bf9e;    
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.topcontainer:after, .bottomcontainer:after {
	transform: rotateZ(180deg);
}

.topcontainer img, .bottomcontainer img {
    height: 30vw;
    width: 30vw;
    opacity: 0.3;
  }

.topcontainer:before, .topcontainer:after, .bottomcontainer:before, .bottomcontainer:after {
	content: "";
	position: absolute;
	height: 130px;
	width: 150px;
	z-index: 0;
}

.topcontainer .toptrack{
    animation: scroll 180s 0.5s linear infinite;
    font-size: 0;
}

.bottomcontainer .bottomtrack{
    animation: reversescroll 180s 0.5s linear infinite;
    font-size: 0;
}

/* Announcement(Sale) */
.announcement-bg {
    display: flex;
    flex-direction: column;
    height:33vh;
    align-items: center;
    justify-content: center;
}

.announcement-bg h1 {
    font-size: 4vw;
}

/* Featured Products */
.featured-bg {
    display: flex;
    align-items: center;
    height: 28vw;
    background-color: #ebd6b6;    
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.featured-bg:before, .featured-bg:after {
	content: "";
	position: absolute;
	height: 130px;
	width: 150px;
	z-index: 2;
}

.featured-bg:after {
	transform: rotateZ(180deg);
}

.featured-bg .featuredtrack{
    animation: scroll 150s 0.5s linear infinite;
}

.featured-bg img {
    height: 24vw;
    width: 24vw;
    padding: 10px;
  }

/* ScrollBar */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track bg */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #DB5A42;
  }
::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    background: #ac2c16;
  }

/* Media Queries */
@media screen and (max-width: 920px) {
    .navLogo a {font-size: 20px;}
    .navItem a {display: none;}
    .navBar a.navIcon {
        display: block;
      }
    .announcement-bg {
        height:20vh;
    }
    .announcement-bg h3 {display: none;}
    .featured-bg {
        height: 45vw;
    }
    .featured-bg img {
        height: 38vw;
        width: 38vw;
    }
  }