html, body {
    font-family: Geneva, Verdana, Tahoma, sans-serif;
    margin: 0px;
    background-color: #ebd6b6;
    color: #424C55;
    text-align: center;
    overflow-x: hidden;
}

/* NavBar */
nav {
    display: flex;
    justify-content: center;
}


.navBar {
    position: fixed;
    top:0;
    width: 80vw;
    background-color: #DB5A42;
    opacity: 0.8;
    list-style-type: none;
    padding: 0;
    border-radius: 15px;
}

.navLogo {
    float: left;
    margin-left: 50px;
}

.navItem {
    float: right;
    margin-right: 50px;
}

.navItem a {
    display: flex;
    color: #F5EDF0;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

.navLogo a {
    font-family: 'Satisfy', cursive !important;
    display: block;
    color: #F5EDF0;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

.navBar .navIcon {
    position: absolute;
    display: none;
    right: 0;
    margin-right: 30px;
    color: #F5EDF0;
    padding: 15px;
  }

/* navHover */
.navItem:hover, .navLogo:hover, .navIcon:hover {
    transition: 0.85s;
    background-color: rgba(0, 0, 0, 0.17);
    border-radius: 10px;
}

/* Title */
.productlisttitlebg {
    display: flex;
    background-color: #F5EDF0;
    height: 30vw;
    align-items: end;
    justify-content: left;
}

.productlistbg img {
    z-index: 0;
    height: 30vw;
    position: contents;
    width: 100%;
    height: 30vw;
}

.productlisttitle {
    position: absolute;
    margin-left: 3vw;
    margin-bottom: 3vh;
    font-size: 5vw;
}

/* Filters */
.filtersbg {
    display: flex;
    background-color: #424C55;
    height: 7vh;
    justify-content: right;
    align-items: center;
}

.filters {
    display: flex;
    font-size: 20px;
    margin-right: 3vw;
    padding: 12px;
}
.filters a {
    text-decoration: none;
    color: #F5EDF0;
}
.filters:hover{
    background-color: rgba(189, 195, 199, 0.15);
    border-radius: 10px;
}

.row {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
.column {
    flex: 20%;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    height: 410px;
    width: 410px;
    padding: 10px
}

.clothing-title {
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: bolder;
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track bg */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #DB5A42;
  }
::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    background: #ac2c16;
  }

/* Media Queries */
@media screen and (max-width: 920px) {
    .navLogo a {font-size: 20px;}
    .navItem a {display: none;}
    .filtersbg {
        justify-content: center;
        margin-right: 0;
    }
    .navBar a.navIcon {
      display: block;
    }
    .productlisttitle {
        margin: auto;
        font-size: 8vw;
    }
    .productlisttitlebg {
        height: 50vw;
    }
  }